<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script charset="UTF-8" src="/kindeditor/kindeditor-min.js"></script>
    <script charset="UTF-8" src="/kindeditor/lang/zh_CN.js"></script>
    <script>
        // 关闭过滤模式，保留所有标签
        KindEditor.options.filterMode = false;
        KindEditor.ready(function (K) {
            K.create('#editor_id');
        });
    </script>
</head>
<body>

<header>
    <h1><%= title %></h1>
</header>

<nav>
    <span><a title="主页" href="/">home</a></span>
    <% if (user) { %>
    <span><a title="上传" href="/upload">upload</a></span>
    <span><a title="发表" href="/post">post</a></span>
    <span><a title="登出" href="/logout">logout</a></span>
    <% } else { %>
    <span><a title="登录" href="/login">login</a></span>
    <span><a title="注册" href="/reg">register</a></span> <!-- [ˈrɛdʒɪstɚ] -->
    <% } %>
    <span>
        <form action="/search" method="get">
            <input type="text" name="keyword" placeholder="SEARCH" class="search"/>
        </form>
    </span>
</nav>

<article>
    <% if (success) { %>
    <div><%= success %></div>
    <% } %>
    <% if (error) { %>
    <div><%= error %> </div>
<% } %>